.tab-button {
  width: calc(100% / 3);
  padding: 6px 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid rgb(0, 0, 0);
  color: rgb(60, 67, 94);
  cursor: pointer;
  font-size: 200%;
  font-family: MarkerFelt;
  background: rgb(25, 26, 33);
  outline: none;
}

.tab-button:hover {
  color: rgb(98, 114, 164);
  box-shadow: rgb(32, 98, 143) 0px 5px 10px;
}