.home img {
  width: 200px;
  border-radius: 50%;
  overflow: hidden;
}

.home p {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 150%;
}

.home a {
  font-size: 200%;
  width: 90px;
  margin-top: 30px;
  margin-bottom: 30px;
}