img {
  width: 100px;
  border-radius: 50%;
  overflow: hidden;
}

p {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 150%;
}

a {
  font-size: 200%;
  width: 90px;
  margin-top: 30px;
  margin-bottom: 30px;
}